body{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
    background: #202128 !important;
}
.auth-panel{
 margin-top: 100px !important;
 max-width: 400px;
 margin: 0 auto;
}
.body-404{
    background: url('../img/boom.jpg')center center fixed no-repeat;
    background-size: cover;
}
.no-access-body{
    text-align: center;
    background: url('../img/terror-1.jpg') center center fixed no-repeat;
    background-size: cover;
}
.no-access-filter{
    position: absolute;
    top:0px;
    bottom: 0px;
    right:0px;
    left:0px;
    background: rgba(16, 16, 16, 0.84);
}
.no-access-h1{
    text-align: center;
    margin-top: 30vh;
    color: white;
    position: relative;
    z-index:2;
}
header{
    color: white;
    padding: 15px 0px;
    background-image: linear-gradient(to right, #2D2E3D 35%, #0A0B10 100%);
}
.drop-user-menu{
    transform: translate3d(-110px, 30px, 0px) !important;
}
.side-nav{
    margin-top: 60px!important;
    box-shadow: none !important;
}
#sidenav-overlay{
    background-color: transparent !important;
}
.rgba-blue-strong, .rgba-blue-strong:after {
    background-color: rgb(45, 46, 61) !important;
}