body{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.auth-panel{
 margin-top: 100px !important;
 max-width: 400px;
 margin: 0 auto;
}
.body-404{
    background: url('../img/boom.jpg')center center fixed no-repeat;
    background-size: cover;
}
